<launch>

   
   <node name = "camera_handling" pkg = "aruco_3D" type = "aruco_3D_node" respawn = "true" output = "screen" args = "4"/>
   <node name = "camera_handling3" pkg = "aruco_3D" type = "aruco_3D_node" respawn = "true" output = "screen" args = "5"/>
   
   
   <node name = "matching_points" pkg = "match_points" type = "match_points_node" respawn = "true" output = "screen" args = ""/>
   
   
   <node name = "woow" pkg = "kalman_filter" type = "kalman_filter_node1" respawn = "true" output = "screen" args = "12"/>
   
   <node name = "woow2" pkg = "kalman_filter" type = "kalman_filter_node1" respawn = "true" output = "screen" args = "13"/>
    
    <node name = "fixed_frame" pkg = "tf" type = "static_transform_publisher" respawn = "true" output = "screen" args = "0 0 0 0 0 0 1 map world 10"/>
    
<!--      <node name = "visualisering" pkg = "rviz" type = "rviz" respawn = "false" output = "screen" args = ""/> -->
</launch>