<launch>

   <node name = "matching_points" pkg = "match_points" type = "match_points_node" respawn = "true" output = "screen" args = ""/>
   
   <node name = "testing_transformation_matrix_woop" pkg = "testing_transformation_matrix" type = "testing_transformation_matrix_node" respawn = "true" output = "screen" args = "1"/>
   
  
    <node name = "fixed_frame" pkg = "tf" type = "static_transform_publisher" respawn = "true" output = "screen" args = "0 0 0 0 0 0 1 map world 10"/>
    
<!--      <node name = "visualisering" pkg = "rviz" type = "rviz" respawn = "false" output = "screen" args = ""/> -->
</launch>